<div class="row-fluid">
	  <div class="span6" style="width:60%; float:left;">
		  <h3>Chatroom</h3>
	    <table class="table" style="width:100%; float:left;">
		    <tbody>
					<tr>
						<td><b>Created by<b></td>
						<td><b>Message<b></td>
						<td><b>Created date<b></td>
					</tr>
					<% @messages.each do |message| %>
					<tr>
						<td><%= message.created_by %></td>
						<td><%= message.content %></td>
						<td><%= message.created_at.strftime("%m/%d/%Y %T") %></td>
					</tr>
					<% end %>
		    </tbody>
	    </table>
    </div>
  </div>


<h4>Write your message</h4>

<%= form_for @message do |f| %>
  <div>Name <%= f.text_field :created_by %></div>
  <div> Message <%= f.text_area :content %></div>
  <div><%= f.submit %></div>

<% end %>
